<!DOCTYPE html>
<html>
  <head>
    <title>Image Input Demo</title>
  </head>
  <body ng-app="myApp" ng-controller="myController">
    <form name="form">
      <input type="text" ng-model="album.title" />
      <input type="text" ng-model="album.artist" />
      <ng-image-input name="image" max-width="400" accepted-extensions="gif,jpg" ng-model="album.art"></ng-image-input>
    </form>
    <pre>{{ album | prettifyJSON }}</pre>
    <script type="text/javascript" src="angular/angular.js"></script>
    <script type="text/javascript" src="ng-image-input.js"></script>
    <script>
      (function () {

        var myApp = angular.module('myApp', ['ngImageInput']);

        myApp.controller('myController', function ($scope) {
          $scope.album = {
            title: 'In Rainbows',
            artist: 'Radiohead',
            art: null
          };
        });

        myApp.filter('prettifyJSON', function () {
          return function (obj) {
            return JSON.stringify(obj, null, 4);
          };
        });

      })();
    </script>
  </body>
</html>
